/* Wofi Power Menu Style */

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
}

window {
    background-color: rgba(0, 0, 0, 0.85);
}

#input {
    margin: 150px 400px 50px 400px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    font-size: 42px;
    caret-color: transparent;
    text-align: center;
}

#inner-box {
    margin: 0 400px 150px 400px;
    background-color: transparent;
}

#outer-box {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#scroll {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#text {
    margin: 0;
    padding: 0;
    color: white;
}

#entry {
    margin: 25px;
    padding: 35px 40px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 23px;
}

#entry:selected {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    outline: none;
}

#entry:hover {
    background-color: rgba(255, 255, 255, 0.15);
}